*{
  box-sizing: border-box;
}

body{
  background-color: #EEF9BF;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header{
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #75B79E;
  font-weight: 700;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.clock {
  display: flex;
  margin: auto 10%;
  justify-content: end;
  align-items: center;
  font-size: 30px;
}
.clock span{
  margin:auto 0 auto 50px;
}

.card {
  width: 200px;
  height: 250px;
  position: relative;
  margin:35px;   
}

.face {
  width: 100%;
  height: 100%;
  background-color: #A7E9AF;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.back-face img{
  width: 60%;
}
.back-face {
  transform: rotateY(180deg);
}

.back-face-rotate {
  transform: rotateY(0deg);
}

.front-face-rotate {
  transform: rotateY(-180deg);
}